.project {
    width: 600px;
    min-height: 100vh;
    margin: auto;
    margin-top: 55px;
    background: white;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    color: rgb(54, 54, 54);
    border-radius: 3px;
    text-align: center;
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.project-people {
    position: absolute;
    width: 275px;
    height: 450px;
    left: -275px;
    top: 55px;
    background: white;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    color: rgb(54, 54, 54);
    border-bottom-right-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    animation-name: image-slide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes image-slide {
    from {left: -275px;}
    to {left: 0px;}
}

.project-people-creator {
    height: 235px;
}

.project-people hr {
    border: .5px solid rgb(216, 216, 216);
}

.project-creator-info,
.project-collab-info {
    margin: 10px auto;
    height: 45%;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.project-creator-info h1,
.project-collab-info h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px;
}

.project-creator-info a,
.project-collab-info a {
    color: rgb(3, 94, 146);
    font-size: 22px;
    text-decoration: none;
    margin: 5px auto;
}

.project-creator-info p,
.project-collab-info p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 5px auto;
}

.project-creator-image,
.project-collaborator-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    border: 1px solid rgb(178, 227, 255);;
    margin: 5px auto;
}


.project-image {
    width: 100%;
    height: 275px;
    background-size: cover;
    background-position: center;
}

.project-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 20px auto;
}

.project-creator {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    font-weight: 200;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #b3b3b37a;
    padding-bottom: 10px;
}

.project-creator a {
    text-decoration: none;
    color: rgb(3, 94, 146);
    font-weight: 400;
}

.project-calendar-icon {
    font-size: 25px;
}

.project-deadline {
    margin: 20px auto;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.project-deadline h3 {
    margin: 10px auto;
}

.project-deadline h3:last-of-type {
    font-size: 20px;
}

.project-description {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #b3b3b37a;
    border-radius: 3px;
    min-height: 100px;
    padding: 10px;
    text-align: left;
    background: rgb(248, 248, 248);
}

.project-dollar-icon {
    font-size: 28px;
    color: rgb(3, 94, 146);
}

.project-price {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgb(3, 94, 146);
}

.project-end-deadline {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: rgb(73, 73, 73);
    margin: 15px auto;
}

.project-button {
    /* font-family: 'Open Sans', sans-serif; */
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 16px;
    font-weight: 200;
    width: 85px;
}

.project-button-remove {
    width: 125px;
}

.project-bids {
    margin-top: 35px;
    width: 100%;
    min-height: 250px;
    border-top: 4px double rgba(101, 163, 199, 0.37);
}

.project-bids h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    font-weight: 200;
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-bids-container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.project-complete {
    margin: auto;
    margin-top: 35px;
    border-top: 4px double rgba(101, 163, 199, 0.37);
}

.project-complete h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 25px auto;
    padding-bottom: 10px;
    width: 235px;
    border-bottom: 1px solid #b3b3b37a;
}

.project-complete-media {
    margin: auto;
    margin-bottom: 35px;
}

/* .project-description p {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    text-align: left;
} */

.project-loading {
    border: 10px solid rgb(201, 201, 201);
    border-top: 10px solid rgb(115, 154, 187);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 255px;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}