.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

.profile-user-content {
    margin: 50px;
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background: white;
}

.profile-user-content img {
    background: lightcoral;
    height: 200px;
    border-radius: 50%;
}

.profile-description {
    border: 1px solid black;
    grid-column: 2 / 4;
    padding: 15px;
}

.profile-stats {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-projects {
    grid-column: 1 / 6;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.profile-project-thumbnail {
    height: 50%;
    width: calc(100% / 3.25);
    box-shadow: 1px 1px 1px;
    margin: 5px;
    border-radius: 2px;
    color: rgb(54, 94, 107);
    text-decoration: none;
}

.profile-project-thumbnail a {
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.profile-project-thumbnail img {
    width: 100%;
    height: 100px;
    border-radius: 0px;
}

.profile-project-thumbnail h1, 
.profile-project-thumbnail h2 {
    font-size: 20px;
}

.profile-contact {
    margin: 50px;
    grid-column: 5 / 7;
    background: #FFFFFF;
}