.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.profile-submenu {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(63, 101, 133, 0.548);
}

.profile-submenu a {
    display: flex;
    width: 125px;
    height: 100%;
    align-items: center;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    justify-content: center;

}

.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 0px;
}

.profile-user-content {
    font-family: 'Open Sans', sans-serif;
    margin: 50px;
    display: grid;
    grid-column: 2/6;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background: white;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    color: rgb(54, 54, 54);
    border-radius: 3px;
}

.profile-user-content img {
    height: 200px;
}

.profile-description {
    grid-column: 2 / 4;
    padding: 5px;
    position: relative;
}

.profile-description h2:first-of-type {
    font-size: 22px;
    font-weight: 600;
}

.profile-description h2:last-of-type {
    font-size: 20px;
    font-weight: 400;
}

.profile-description p {
    height: 95px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #b3b3b37a;
    border-radius: 2px;
}

.profile-description button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}


.profile-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-projects {
    grid-column: 1 / 6;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.profile-project-thumbnail {
    height: 50%;
    width: calc(100% / 3.25);
    box-shadow: 1px 1px 1px;
    margin: 5px;
    border-radius: 2px;
    color: rgb(54, 94, 107);
    text-decoration: none;
}

.profile-project-thumbnail a {
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.profile-project-thumbnail img {
    width: 100%;
    height: 100px;
    border-radius: 0px;
}

.profile-project-thumbnail h1, 
.profile-project-thumbnail h2 {
    font-size: 20px;
}

.profile-contact {
    margin: 50px;
    grid-column: 5 / 7;
    background: #FFFFFF;
}