
  .modal {
    background: linear-gradient(to top right, #FFFFFF 0%, #F5F0F2 100%);
    visibility: hidden;
    opacity: 0;
    z-index: 25;
    position: absolute;
    border-radius: 3px;
    box-shadow: 2px 3px 20px -5px;
    width: 450px;
    height: 525px;
    left: 0;
    right: 0;
    bottom: 50vh;
    top: 50vh;
    margin: auto;
    transition: .5s all ease-in-out;
    text-align: center;
  }

  .modal-delete {
    height: 280px;
  }

  
  .modal select {
      margin: 0px auto 25px auto;
    }
    
.modal-active {
    visibility: visible;
    opacity: 1;
    bottom: 50vh;
    top: 50vh;
}
    
.modal-info {
    top: 65vh;
    height: 645px;
}
  .modal textarea {
    width: 75%;
    height: 50%;
  }
  
  .modal h1 {
    margin: 25px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin: 25px auto;
    color: rgb(54, 54, 54);
  }

  .modal h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin: 10px auto;
    color: rgb(54, 54, 54);
    
  }

 .modal .dropzone {
    margin: auto;
    padding: 25px 0px;
    width: 270px;
    border: 2px dashed #dadada;
    border-radius: 5px;
    background: rgb(179, 179, 179);
    margin-bottom: 10px;
}

.modal textarea {
    width: 250px;
    height: 100px;
}
  
  
  .modal button {
    display: block;
    width: 100px;
    height: 30px;
    margin: 20px auto;
    border: none;
    border-radius: 3px;
    color: white;
    background: #4C8DCA;
    cursor: pointer;
    transition: all .1s ease;
  }
  
  .modal button:hover {
    background: rgba(76, 141, 202, 0.856);
  }
  
  
  .sick-modal-button {
    padding: 25px;
    width: 200px;
    border: none;
    margin-top: 30px;
    border-radius: 3px;
    background: #4C8DCA;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: all .1s ease;
  }
  
  .sick-modal-button:hover {
    background: rgba(76, 141, 202, 0.856);
  }
  
  .x-button {
    height: 24px;
    width: 24px;
    background: gray;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }
  
  .x-button:hover {
    background: rgb(146, 146, 146)
  }