.modal-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgb(112, 112, 112);
    display: flex;
    position: absolute;
    opacity: .4;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all .2s ease;
    opacity: 0;
  }
  
  .modal-container-active {
    visibility: visible;
    opacity: .5
  }
  