.header {
    height: 79px;
    width: 100%;
    background: #003C5E;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.header-left input {
    background: #e0e0e0;
    border-radius: 2px;
    height: 45px;
    width: 306px;
    border: none;
    margin: 0px 10px;
}

.header-home {
    height: 100%;
    width: 105px;
    display: block;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header-home img {
    height: 80%;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right a {
    height: 100%;
    width: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.header-right a:hover {
    background: rgb(0, 68, 107);
}