.loading-animation {
    border: 10px solid rgb(201, 201, 201);
    border-top: 10px solid rgb(115, 154, 187);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: 200px;
    animation: loading 1s infinite;

}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.feed-loading-animation {
    border: 10px solid rgb(201, 201, 201);
    border-top: 10px solid rgb(115, 154, 187);
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
    animation: feed-loading 1s infinite;
}

@keyframes feed-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dashboard-all {
    height: calc(100vh - 55px);
    width: 100%;
    overflow: auto;
    overflow: scroll;
    position: relative;
}

.dashboard-top {
    height: 125px;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dashboard-top-left {
    height: 50px;
    width: 250px;
}

.dashboard-top-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.dashboard-top h1 {
    grid-column: 2 / 3;
    margin-left: 15px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0px;
}

.filter-buttons label {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #414141;
    letter-spacing: .5px;
    position: relative;
    margin-right: 50px;
}

.filter-buttons span::before,
.filter-buttons span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}


.filter-buttons span.radio:hover {
    cursor: pointer;
  }

.filter-buttons span.radio::before {
    right: -44px;
    width: 35px;
    height: 20px;
    background-color: #b3b3b3;
    border-radius: 50px;
  }

.filter-buttons span.radio::after {
    right: -26px;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: rgb(134, 134, 134);
    /* transition: left .5s, background-color .25s; */
  }

input[type="radio"]:checked + label span.radio::after {
    right: -41px;
    background-color: rgb(255, 255, 255);
  }

.dashboard-top-image {
    position: fixed;
    top: 55px;
    left: 0;
    height: 270px;
    width: 265px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dashboard-top-image > div:first-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.dashboard-top-image h1 {
    font-weight: 400;
    font-size: 20px;
}

.dashboard-top-image a {
    text-decoration: none;
}

.dashboard-top-image p {
    font-size: 16px;
    font-weight: 200;
    padding-left: 5px;
}

.dashboard-top-image img {
    background: gray;
    border-radius: 50px;
    height: 80px;
}

.dashboard-user-stats {
    margin-top: 25px;
    display: flex;
    width: 70%;
    height: 150px;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.dashboard-user-stats p {
    font-size: 18px;
    font-weight: 300;
    color: rgb(1, 84, 151);
}

.create-button {
    height: 50px;
    width: 250px;
}

.create-button button {
    background: #003C5E;
    height: 50px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: .1em;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
}


.filter-buttons {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.filter-buttons p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;

}

.filter-buttons input {
    margin: 0px 10px;
}

.filter-buttons input[type='radio'],
.filter-buttons input[type='checkbox'] {
    display: none;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    padding: 0px 25px;
    border-bottom: 0px solid gray;
}

.dashboard > input {
    width: 100px;
    margin: auto;
    grid-column: 1 / span 2;
}

.dashboard-feed {
    grid-row-start: 1;
    grid-column: 2 / span 3;
    min-height: calc(100vh - 180px);
}


.dashboard-network {
    grid-row: 1 / 3;
    height: 600px;
    grid-column-start: 5;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    background: white;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.dashboard-network-connections {
    height: 40%;
    width: 215px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: auto;
}

.dashboard-network-connections-container {
    width: 190px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.dashboard-connection-link {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
}

.dashboard-connection-link img {
    height: 50px;
    width: 50px;
    border: 1px solid #d3d3d3;
}

.dashboard-connection-link img:hover {
    border: 1px solid #b3b3b3;
}


.dashboard-network h3 {
    text-align: center;
    margin: 5px;
    font-weight: 400;
    color: #414141;
}


.dashboard-network p {
    margin: 5px auto;
    padding: 0px 20px;
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

.dashboard-network hr {
    border: 1px solid #d6d6d6;
    width: 60%;
    margin: 3px auto;
}

.dashboard a {
    text-decoration: none;
    color: black;
}

.dashboard-network a:hover {
    text-decoration: underline;
}

