.login {
    text-align: center;
    color: white;
}

.login-header {
    height: 105px;
    width: 100%;
    background: #003C5E;
    display: flex;
    align-items: center;
}

.logo, .angle-motto {
    display: inline-block
}

.logo {
    margin-left: 50px;
    color: orange;
}

.angle-motto {
    margin-left: 150px;
    color: gray;
}

.login-main {
    height: calc(100vh - 105px);
    width: 100%;
    /* background: rgb(6, 20, 34); */
    background-image: url('./piano.jpg');
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: block;
}

.login-main > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: .4px;
    width: 60%;
    margin: 80px auto 30px auto;
}

.login-main > p {
    font-size: 25px;
    width: 55%;
    margin: 0px auto 25px auto;
}

.login-button {
    font-family: 'Fira Sans', sans-serif;
    border-radius: none;
    border: none;
    margin-top: 15px;
    width: 440px;
    height: 85px;
    font-size: 27px;
    padding-top: 2px;
    color: white;
    font-weight: 200;
    letter-spacing: .5px;
    background-image: linear-gradient(to bottom, rgb(67, 108, 161) 0%, rgb(37, 56, 94) 100%);
    cursor: pointer;
}

.login-main-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 100%;
    height: 200px;
    background: rgba(196, 196, 196, 0.616);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.login-main-info h1 {
    font-weight: 300;
}

.login-main-info > div {
    opacity: 1;
    width: 300px; 
    height: 80%;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*middle*/

.login-middle {
    height: 100vh;
    width: 100%;
    background: lightblue;
}

.login-middle-top {
    height: 20vh;
    width: 100%;
    background: gray;
}

.login-middle-middle {
    height: 65vh;
    width: 100%;
}

.login-middle-bottom {
    width: 100%;
    height: 15vh;
    background: lightsalmon;
}