@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600|Open+Sans:100,200,300,400,500,600,700,800|IBM+Plex+Serif|Fira+Sans:300,300i,400,400i,500,600,700|Source+Sans+Pro:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
}

button {
  border-radius: 3px;
  padding: 5px;
  border: none;
  background: #2274A5;
  color: white;
}
