* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    background: lightblue;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.grid-1 {
  grid-row-start: 1;
  grid-row-end: span 2;
  background: lightgreen;
}

.grid-2 {
  grid-column-start: 2;
  background: lightcoral;
}

.grid-3 {
  grid-row-start: 2;
  grid-column-start: 3;
  background: red;
}


