@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700,800|Open+Sans:100,200,300,400,500,600,700,800|IBM+Plex+Serif|Fira+Sans:100,200,300,300i,400,400i,500,600,700|Source+Sans+Pro:300,400');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: rgb(252, 252, 252);
}

button {
  border-radius: 3px;
  padding: 5px;
  border: none;
  background: #2274A5;
  color: white;
  cursor: pointer;
}

input {
  height: 25px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 5px;
  color: rgb(71, 71, 71);
}

input[type=date] {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}