.project-thumbnail {
    margin: 0px auto 15px auto;
    display: grid;
    grid-template-rows: 1fr;
    background: white;
    font-family: 'Open Sans', sans-serif;
    width: 700px;
}

.project-thumbnail-content {
    height: 265px;
    display: grid;
    grid-template-columns: 75px 1fr 3fr 2fr;
    grid-template-rows: 40px 1fr 100px;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    grid-column: 1 / span 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: rgb(65, 65, 65);

}

.project-thumbnail-userimage {
    padding: 10px;
    height: 73px;
    grid-row-start: 1;
    grid-column: 1 / 2;
    border-radius: 50px;
}

.project-thumbnail h2 {
    padding: 5px;
    padding-top: 10px;

}

.project-thumbnail-projectimage {
    height: 109px;
    width: 175px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-radius: 3px;
}

.project-thumbnail-name {
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.project-thumbnail-name span {
    color: rgb(2, 90, 148);
    font-size: 16px;
}



.project-thumbnail-name hr {
    width: 95%;
    border: none;
    height: 1px;
    color: black;
    background: #b3b3b3;
}

.project-bidding-deadline {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(27, 119, 155);
}

.project-thumbnail-description {
    padding: 2px 15px 15px 15px;
    height: 109px;
    margin-right: 12px;
    margin-top: 0px;
    margin-left: 14px;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    width: 409px;
    border: 1px solid #b3b3b37a;
    border-radius: 2px;
    background: rgb(252, 252, 252);
    color: rgb(71, 71, 71);
    overflow: hidden;
    position: relative;
}

.project-thumbnail-description::after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(0, 0, 0, 0), 
                      rgb(255, 255, 255));
    width    : 100%;
    height   : 25%;
}

.project-thumbnail-description h1 {
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 5px;
}

.project-thumbnail-content h2 {
    font-size: 16px;
    font-weight: 400;
}

.project-thumbnail-name h2 {
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .4px;
    font-size: 14px;
}

.project-thumbnail-description p {
    margin-right: 10px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2em;
    color: rgb(48, 48, 48);
}

.project-thumbnail-bottom {
    margin: auto;
    width: 85%;
    padding: 10px;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    border-top: 1px solid #b3b3b37a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-thumbnail-bottom > div {
    width: 185px;
    height: 75px;
    /* border: 1px solid rgb(235, 235, 235); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.project-thumbnail-bottom > div p {
    padding-left: 10px;
}

.project-thumbnail-bottom > div:last-of-type p {
    font-size: 29px;
    padding-left: 3px;
    font-weight: 300;
}

.calendar-icon {
    font-size: 40px;
    color: rgb(5, 92, 133);
}

.users-icon {
    font-size: 40px;
    color: rgb(5, 92, 133);
}

.dollar-icon {
    font-size: 30px;
    color: rgb(5, 92, 133);
}

@media (max-width: 1240px) {
    .project-thumbnail-content {
        grid-template-rows: 40px 1fr 1fr 100px;
    }
    .project-thumbnail {
        width: 500px;
    }
    .project-thumbnail-content {
        width: 500px;
        height: 400px;
    }
    .project-thumbnail-projectimage {
        grid-column: 3 / 4;
        grid-row: 2 / span 1;
        margin: 0px auto;
    }
    .project-thumbnail-description {
        grid-column: 1 / 5;
        grid-row: 3 / span 1;
        width: 400px;
        margin: auto;
    }
    .project-thumbnail-bottom {
        grid-row: 4 / span 1;
    }
    .project-thumbnail-name h2 {
        font-size: 18px;
    }
    .project-thumbnail-name span {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .project-thumbnail-content {
        grid-template-rows: 40px 1fr 1fr 100px;
    }
    .project-thumbnail {
        width: 275px;
    }
    .project-thumbnail-content {
        width: 275px;
        height: 400px;
    }
    .project-thumbnail-projectimage {
        grid-column: 1 / 5;
        grid-row: 2 / span 1;
        margin: 25px auto;
    }
    .project-thumbnail-description {
        grid-column: 1 / 5;
        grid-row: 3 / span 1;
        width: 250px;
        margin: 5px auto;
    }
    .project-thumbnail-bottom {
        grid-row: 4 / span 1;
    }
    .project-thumbnail-name h2 {
        font-size: 16px;
    }
    .project-thumbnail-name span {
        font-size: 16px;
    }
    .project-thumbnail-bottom > div {
        font-size: 14px;
    }
    .calendar-icon {
        font-size: 20px;
    }
    .users-icon {
        font-size: 20px;
    }
    .dollar-icon {
        font-size: 20px;
    }
    .project-thumbnail-bottom > div:last-of-type p {
        font-size: 20px;
    }
    .project-thumbnail-userimage {
        height: 60px;
    }
}