.project-thumbnail {
    margin: 0px 25px 25px 25px;
    display: grid;
    grid-template-rows: 1fr;
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.project-thumbnail-content {
    height: 220px;
    display: grid;
    grid-template-columns: 75px 1fr 3fr 2fr;
    grid-template-rows: 40px 1fr;
    border: 1px solid #d6d6d6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    grid-column: 1 / span 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.project-thumbnail-userimage {
    padding: 10px;
    height: 73px;
    grid-row-start: 1;
    grid-column: 1 / 2;
}

.project-thumbnail h2 {
    padding: 5px;
    padding-top: 15px;
}

.project-thumbnail-projectimage {
    padding: 15px;
    height: 100%;
    width: 280px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.project-thumbnail-name {
    grid-column: 2 / span 3;
    grid-row: 1 / 2;
}

.project-thumbnail-name hr {
    width: 95%;
    border: none;
    height: 1px;
    color: black;
    background: #b3b3b3;
}

.project-bidding-deadline {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

.project-thumbnail-description {
    padding: 10px;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

.project-thumbnail-description h1 {
    font-size: 15px;
    margin-bottom: 5px;
}

.project-thumbnail-content h2 {
    font-size: 16px;
    font-weight: 400;
}
